<form method="post">
    <h1>Login</h1>
    <br>
    <table>
        <tr>
            <td style="text-align: right; font-size: 20px;">Username</td>
            <td><input type="text" name="username" value="{{ user_name }}"> <span style="color: red;"></span></td>
        </tr>
        <tr>
            <td style="text-align: right; font-size: 20px;">Password</td>
            <td><input type="password" name="password"> <span style="color: red;"></span></td>
        </tr>
    </table>
    <span style="color: red;">{{ invalid_login }}</span>
    <br>
    <input type="submit" value="Submit" style="background-color: rgb(66, 68, 68); color: white; margin-top: 10px;">
</form>