<form method="post">
    <h1>Signup</h1>
    <br>
    <table>
        <tr>
            <td style="text-align: right; font-size: 20px;">Username</td>
            <td><input type="text" name="username" value="{{ user_name }}"> <span style="color: red;">{{ invalid_username }}</span></td>
        </tr>
        <tr>
            <td style="text-align: right; font-size: 20px;">Password</td>
            <td><input type="password" name="password"> <span style="color: red;">{{ invalid_password }}</span></td>
        </tr>
        <tr>
            <td style="font-size: 20px;">Verify Password</td>
            <td><input type="password" name="verify"> <span style="color: red;">{{ passwords_missmatch }}</span></td>
        </tr>
        <tr>
            <td style="text-align: right; font-size: 20px;">Email(Optional)</td>
            <td><input type="email" name="email" value="{{ user_email }}"></h3> <span style="color: red;">{{ invalid_email }}</span></td>
        </tr> 
    </table>
    <a href="/login" style="color: black; text-decoration: none;"><h3>Already registered?</h3></a>
    <input type="submit" value="Submit" style="background-color: rgb(66, 68, 68); color: white;">
</form>